@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700');

.tweet {
  width: 100%;
  display: flex;
}

.avatar-side {
  width: 25%;
  display: flex;
  justify-content: center;
}

.avatar-side > img {
  border-radius: 50%;
  height: 5em;
  width: 5em;
}

.content-side {
  width: 75%;
}

.author {
  font-weight: 700;
  margin-bottom: 2px;
}

.creationDate {
  color: #448aff;
  font-weight: 400;
}

.tweet-content-element {
  margin-bottom: 15px;
}

/*.tweet-content-element > svg {
  height: 2em;
  width: 2em;
}*/

span.tweet-content-element {
  margin-right: 15px;
  font-weight: 700;
}

.share-counters {
  display: flex;
  align-items: center;
}

.social-icon {
  margin-right: 5px;
}
